{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Hero Image -->
<div class="hero-image d-flex flex-wrap justify-content-center align-content-center">
  <div class="hero-text text-center">
    <h1>Learn tennis | Keep fit | Have fun</h1>
    <p class="hero-p">Join the Tango Tennis team now!</p>
  </div>
</div>

<!-- About information -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="mt-2">About Tango Tennis</h1>
      <p>
        Here at Tango Tennis we offer quality 1 on 1 coaching for adults of all ages and all abilities. We are located
        in the heart of Surrey and have 3 pristine hard courts, two clay courts and a state of the art clubhouse for you
        to relax in once your lesson is over.
      </p>
      <p>
        So if you're 18 or above and are keen to learn more about the sport, come and join
        the Tango Tennis community so we can help you to ace your game!
      </p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dpgw04era/image/upload/v1690895327/abilities_fmcara.webp"
          class="card-img-top" alt="Older man playing tennis">
        <div class="card-body">
          <h5 class="card-title">We cater for all abilities</h5>
          <p class="card-text">Whether you've never picked up a racket before or you've been playing since you were 5,
            we have a selection of classes to suit your needs. Our Beginners classes provide a gentle introduction to
            the sport, allowing you to progress to Intermediate or Advanced. And if you already have some tennis
            experience under your belt, you're welcome to choose the level that you feel fits you best.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dpgw04era/image/upload/v1690895179/tennis-coach_erhsi6.webp"
          class="card-img-top" alt="Tennis coach with a student">
        <div class="card-body">
          <h5 class="card-title">Top coaching in the area</h5>
          <p class="card-text">Our coaches all have a long history of experience behind them, and are dedicated to
            sharing their tips and tricks with you to help you to become the best tennis player you can be. Whether
            you're starting out or know a thing or two already, our coaches are experts at tailoring the classes to your
            ability and your needs, all done with a great big smile on their faces.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dpgw04era/image/upload/v1690894965/tennis-rackets_ftseyr.webp"
          class="card-img-top" alt="Smiling man holding multiple tennis rackets">
        <div class="card-body">
          <h5 class="card-title">Flexibility to choose a time that suits you</h5>
          <p class="card-text">We provide 2 hour classes 4 times a day, 7 days a week so you can choose the time that is
            best for you. While life can be hectic, we don't want your other commitments to prevent you from
            playing tennis, which is why we've got such an extensive timetable. So whether you want to have an
            intensive run of classes everyday or you'd rather have one class every week, you're welcome to book the
            classes as you like.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
        <a class="btn buttons w-20 mb-4" href="{% url 'create_booking' %}">Book your lessons here!</a>
      </div>
    </div>
  </div>
</div>

<!-- Reviews section -->
<div class="container mb-4">
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card reviews">
          <div class="card-body d-block w-100 reviews text-center">
            <h2>Need more convincing?</h2>
            <p>Have a look at what our wonderful members have said...</p>
          </div>
        </div>
      </div>
      {% for review in reviews %}
      <div class="carousel-item">
        <div class="card reviews">
          <div class="card-body d-block w-100">
            <h3>{{ review.name }}</h3>
            <p>{{ review.body }}</p>
            <p class="text-right review-date">{{ review.created_on }}</p>
          </div>
          {% if request.user == review.user or request.user.is_staff %}
          <div class="text-center">
            <a class="btn buttons w-20 mb-4" href="{% url 'edit_review' review.id %}">Edit</a>
            <a class="btn buttons w-20 mb-4" href="{% url 'delete_review' review.id %}">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsNoTouching"
      data-slide="prev">
      <span aria-hidden="true"><i class="fa-solid fa-angle-left arrows"></i></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsNoTouching"
      data-slide="next">
      <span aria-hidden="true"><i class="fa-solid fa-angle-right arrows"></i></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="text-center">
  <a class="btn buttons w-20 mb-4" href="{% url 'add_review' %}">Leave a review</a>
</div>
{% endif %}

{% endblock %}