{% extends 'base.html' %}

{% block title %}My Reviews{% endblock %}

{% block content %}

<!-- Iterates through reviews left by user -->
<h1 class="text-center m-2">My Reviews</h1>
<div class="container">
    <div class="row">
        {% for review in my_reviews %}
        {% if request.user == review.user or request.user.is_staff %}
        <div class="col-md-6 my-2">
            <div class="card h-100">
                <div class="card-body">
                    {% if request.user.is_staff %}
                    <p class="text-right">Client username: {{ review.user }}</p>
                    {% endif %}
                    <h2 class="card-title">{{ review.name}}</h2>
                    <p class="card-text">{{ review.body }}</p>
                </div>
                <div class="text-center">
                    <a class="btn buttons w-20 mb-4" href="{% url 'edit_review' review.id %}">Edit</a>
                    <a class="btn buttons w-20 mb-4" href="{% url 'delete_review' review.id %}">Delete</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Adds a leave a review button for users but not staff -->
{% if request.user.is_authenticated and not request.user.is_staff %}
<div class="text-center m-2">
    <a class="btn buttons w-20 mb-4" href="{% url 'add_review' %}">Leave a review</a>
</div>
{% endif %}


{% endblock %}