{% extends 'base.html' %}

{% block title %}My Reviews{% endblock %}

{% block content %}

<!-- Iterates through reviews left by user -->
<h1 class="text-center m-2">My Reviews</h1>
{% for review in my_reviews %}
{% if request.user == review.user or request.user.is_staff %}
<div class="container d-flex justify-content-center">
    <div class="card reviews m-2 col-12 col-md-8 col-lg-6">
        <div class="card-body d-block w-100 pb-1">
            {% if request.user.is_staff %}
            <p class="text-right">Client username: {{ review.user }}</p>
            {% endif %}
            <h3>{{ review.name }}</h3>
            <p>{{ review.body }}</p>
            <p class="text-right review-date">{{ review.created_on }}</p>
        </div>
        <div class="text-center">
            <a class="btn buttons w-20 mb-4" href="{% url 'edit_review' review.id %}">Edit</a>
            <a class="btn buttons w-20 mb-4" href="{% url 'delete_review' review.id %}">Delete</a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<!-- Adds a leave a review button for users but not staff -->
{% if request.user.is_authenticated and not request.user.is_staff %}
<div class="text-center m-2">
    <a class="btn buttons w-20 mb-4" href="{% url 'add_review' %}">Leave a review</a>
</div>
{% endif %}


{% endblock %}