{% extends 'base.html' %}

{% block title %}Delete a Bookings{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center text-center">
    <form method="post" class="col-12 col-md-8 col-lg-6 form shadow">
        <h1>Confirm Booking Deletion</h1>
        {% csrf_token %}
        <p>Are you sure you want to delete this booking?</p>
        <p>Level: {{ booking.level | title }}</p>
        <p>Date: {{ booking.day }}</p>
        <p>Time: {{ booking.get_time_display }}</p>
        <input type="submit" value="Confirm" class="btn buttons w-20 mb-2 mx-2">
        <a href="{% url 'manage_bookings' %}" class="btn buttons w-20 mb-2 mx-2">Cancel</a>
    </form>
</div>
{% endblock %}