{% extends 'base.html' %}

{% block title %}Book a Class{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center text-center">
    <form method="POST" class="col-12 col-md-8 col-lg-6 form shadow">
        <h1>Book a Class</h1>
        <p>Please note that bookings cannot be made on today's date</p>
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div>
            <button type="submit" class="btn buttons w-20 mb-2">Book Class</button>
        </div>
    </form>
</div>
{% endblock %}