{% load static %}

<footer class="d-flex justify-content-center">
    <a href="https://www.facebook.com/" target="blank" rel="noopener" aria-label="Link to Facebook - opens in a new tab">
        <i class="fa-brands fa-square-facebook social-link"></i>
    </a>
    <a href="https://www.instagram.com/" target="blank" rel="noopener" aria-label="Link to Instagram - opens in a new tab">
        <i class="fa-brands fa-square-instagram social-link"></i>
    </a>
    <a href="https://www.twitter.com/" target="blank" rel="noopener" aria-label="Link to Twitter - opens in a new tab">
        <i class="fa-brands fa-square-twitter social-link"></i>
    </a>
</footer>