{% extends 'base.html' %}

{% block title %}Our Classes{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center px-2">
    <div class="form shadow table-responsive p-3">
        <h1>Our Classes</h1>

        <table class="table table-bordered table-sm">
            {% if lesson.level == beginner %}
            <h2>Beginners Classes</h2>
            {% endif %}
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'beginner' %}
                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-sm">
            {% if lesson.level == intermediate %}
            <h2>Intermediate Classes</h2>
            {% endif %}
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'intermediate' %}
                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-sm">
            {% if lesson.level == advanced %}
            <h2>Advanced Classes</h2>
            {% endif %}
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'advanced' %}

                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    {% endif %}
                    {% if lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    {% endif %}
                    {% if lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    {% endif %}
                    {% if lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    {% endif %}
                    {% if lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    {% endif %}
                    {% if lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    {% endif %}
                    {% if lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    {% endif %}
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="" class="btn buttons w-20">Edit</a>
                        <a href="" class="btn buttons w-20">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                <!-- <tr>
                    {% if lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% endif %}
                </tr>
                {% if request.user.is_staff %}
                <tr>
                    <a href="" class="btn buttons w-20 mb-2">Edit</a>
                </tr>
                {% endif %} -->
                {% endif %}

                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    let tableCell = document.getElementsByTagName('td');
    for (let i = 0; i < tableCell.length; i++) {

        if (tableCell.item(i).innerHTML === "True") {
            tableCell[i].classList.add("lesson")
            tableCell[i].innerHTML = "&#x2713;"
        } else if (tableCell.item(i).innerHTML === "False") {
            tableCell[i].innerHTML = ""
        }
    }
</script>
{% endblock %}