{% extends 'base.html' %}

{% block title %}Our Classes{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center px-2">
    <div class="form shadow table-responsive p-3 col-12">
        <h1>Our Classes</h1>
        {% if lesson.level == beginner %}
        <h2>Beginners Classes</h2>
        {% endif %}
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                    {% if request.user.is_staff %}
                    <th scope="col">Edit/Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'beginner' %}
                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    {% elif lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    {% elif lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    {% elif lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    {% elif lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    {% elif lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    {% elif lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    {% endif %}
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="{% url 'edit_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Edit</a>
                        <a href="{% url 'delete_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if lesson.level == intermediate %}
        <h2>Intermediate Classes</h2>
        {% endif %}
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                    {% if request.user.is_staff %}
                    <th scope="col">Edit/Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'intermediate' %}
                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    {% elif lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    {% elif lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    {% elif lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    {% elif lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    {% elif lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    {% elif lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    {% endif %}
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="{% url 'edit_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Edit</a>
                        <a href="{% url 'delete_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if lesson.level == advanced %}
        <h2>Advanced Classes</h2>
        {% endif %}
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">09:00-11:00</th>
                    <th scope="col">12:00-14:00</th>
                    <th scope="col">15:00-17:00</th>
                    <th scope="col">18:00-20:00</th>
                    {% if request.user.is_staff %}
                    <th scope="col">Edit/Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                {% if lesson.level == 'advanced' %}
                <tr>
                    {% if lesson.date == 1 %}
                    <th scope="row">Monday</th>
                    {% elif lesson.date == 2 %}
                    <th scope="row">Tuesday</th>
                    {% elif lesson.date == 3 %}
                    <th scope="row">Wednesday</th>
                    {% elif lesson.date == 4 %}
                    <th scope="row">Thursday</th>
                    {% elif lesson.date == 5 %}
                    <th scope="row">Friday</th>
                    {% elif lesson.date == 6 %}
                    <th scope="row">Saturday</th>
                    {% elif lesson.date == 7 %}
                    <th scope="row">Sunday</th>
                    {% endif %}
                    <td>{{ lesson.morning }}</td>
                    <td>{{ lesson.early_afternoon }}</td>
                    <td>{{ lesson.late_afternoon }}</td>
                    <td>{{ lesson.evening }}</td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="{% url 'edit_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Edit</a>
                        <a href="{% url 'delete_lesson' lesson.id %}" class="btn buttons w-20 edit-btns">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    let tableCell = document.getElementsByTagName('td');
    for (let i = 0; i < tableCell.length; i++) {

        if (tableCell.item(i).innerHTML === "True") {
            tableCell[i].classList.add("lesson");
            tableCell[i].innerHTML = "&#x2713;";
        } else if (tableCell.item(i).innerHTML === "False") {
            tableCell[i].innerHTML = "";
        }
    }
</script>
{% endblock %}